## .NET Core
bin/
obj/
obj
*.user
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/
.vs/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Logs
*.log

## Environment variables
appsettings.Development.json